.img {
    height: var(--imageWidht);
    text-align: center;

}

.imgWidth {
    width: var(--imageWidht);
}

.editIcon {
    position: absolute;
    font-size: 18px;
    right: 14px;
    color: var(--appTheam);
    bottom: 16px;
    cursor: pointer;
}

.imgContainer {
    // border: 1px solid gray;
    // border-radius: 50%;
}

.fileselection {
    display: none;
}

.itemDetails {
    padding: 17px 51px;

    .actionbtn {
        margin-top: 18px;
    }
}





.col {
    margin-bottom: 5px;
}

.fromLabel {
    font-size: 15px;
    font-weight: 500;
    color: var(--bs-gray-600);
}

.form-check-input:checked {
    background-color: var(--appTheam);
    border-color: var(--appTheam);
}