#records-tabs {


    .nav-link {

        background-color: transparent;
        color: var(--appTheam);

        transition: all 0.3s ease;
    }


    .nav-link.active {
        background-color: var(--appTheam);
        color: var(--appTextColor);

    }
}